<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ../layout/app-layout.ejs %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/layer-v3.0.3/layer/skin/default/layer.css">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/<%= css %>.css">

</head>
<body class="">
<div class="main-body">
    <%- body %>
</div>
<div class="loading"></div>
</body>
</html>
