<header class="top-bar">
    <div class="logo">LOGO</div>
    <div class="user-login-box">
        <div class="user-img"></div>
        <div class="user-name">SDD</div>
        <div class="quit"></div>
    </div>
</header>