@black: #000000;                            //黑色
@white: #ffffff;                            //白色
@backColor: #f0f0f0;                        //背景色
@mainColor: #10a0ea;                        //主要颜色
@subColor: #0e90d2;                       //次要颜色
@mTextColor: lighten(@black, 20%);          //主要文字 #333333
@sTextColor: lighten(@black, 40%);          //次要文字 #666666
@aTextColor: lighten(@black, 60%);          //附属文字 #999999

html,body {
  background: @backColor;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei" !important;
}

li {
  list-style-type: none;
}

a,a:hover,a:active,a:visited,a:link,a:focus,button,button:focus,input,input:focus,textarea,textarea:focus,span,span:focus,select,select:focus{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
}

html {
  height: 100%;
}

.main-body {
  width: 100%;
  height: 100%;
  background: @backColor;
}

.loading {
  background: @backColor;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: @mainColor;
  .logo {
    background-color: @subColor;
    color: @white;
    float: left;
    text-align: center;
    width: 2rem;
    padding: 0 0.5rem;
  }
  .user-login-box {
    float: right;
    padding: 0 0.5rem;
    color: #ffffff;
  }
}