<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <% include ../layout/app-layout.ejs %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/app/default/layer.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/layer-v3.0.3/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="/stylesheets/app/<%= css %>.css">
</head>
<body class="">
<div class="main-body">
    <%- body %>
</div>
</body>
</html>
